@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
margin: 0px;
padding: 0px;
}
.FitFreak{
    height: 150px;
    width: 150px;
    margin-top: 0px;
    padding-top: 0px;
}
#nav{
    height: 60px;
    display: flex;
    justify-content: space-between;  
    position: sticky;
    top: 0px;  
    background-color: white;
}
#navbar_menus h5{
    font-size: 14px;
    font-family: Inter-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    letter-spacing: 0px;
    line-height: 22px;
}
/* #nav>a{
    height: 50px;
} */
#nav>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}
#nav>div:nth-child(1)>img{
height: 50%;
}
#nav>div:nth-child(2){
    display: flex;
    gap: 25px;
    align-items: center;
}
#nav>div:nth-child(3){
    display: flex;
    margin-right: 50px;
    justify-content: space-between;
    /* align-items: center; */
}
.navLogo{
    margin-left: 20px;
}
.navLogo img{
    /* width: 50%; */
    height: 50%;
    margin-top: 18px;
}
#slide{
    width: 100%;

}
#slide>img{

    width: 100%;;

}
/*/////////////////// HEADINGS /////////////////////*/
.head{
    
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 10px;
}
.head{
    font-family: Poppins-SemiBold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    line-height: 32px;
    font-size: 24px;
    word-spacing: 1px;
    color: #333335;
}
.head a{
    text-decoration: none;
    color: #ff3278;
    cursor: pointer;
    font-size: 16px;
    line-height: 32px;
    margin: top -5px; ;

}
#tpro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}
#tpro>div{
    /* border: 1px solid black; */
    margin-left: 20px;
    /* margin-top: auto; */
}
#tpro img{
    width: 100%;
    

}
#cycles{
    display: flex;
    margin: auto;
    width: 90%;
    gap:20px;
}
#cycles img{
    width: 100%;
}
/*////////////////////////// SHOP BY WORKOUT/////////////////////// */
#sbw{
    margin-top: 50px;
    margin-bottom: 50px;
}   
#SBW{
        width: 90%;
        display: flex;
        margin: auto;
        gap: 25px;
        
    }
    #SBW img{
        width: 100%;
    }
/*////////////////////////// SHOP BY WORKOUT/////////////////////// */
/*/////////////////////////////// SPOTLIGHT/////////////////////////// */
#spotlight
{   width: 90%;
    display:flex;
    margin: auto;
    gap: 20px;
    align-items: center;    
}
#spotlight div img{
    width: 100%;
}

.span{
    font-family: Poppins-SemiBold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 24px;   
    /* text-align: initial;   */
    color: #333;
    width: 90%;
    margin-left:70px;
    margin-bottom: 25px;
    /* border: 1px solid; */
}

/*////////////////////////////// SPOTLIGHT ////////////////////////////////////////*/
/*//////////////////////////////// FOOTER//////////////////////////////////// */
#foot{
    height: 500px;
    background-color:black;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#foot div{
    border: 1px solid black;
}
#fLogo p{
    /* color: rgb(80,80,80) */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
    line-height: 22px;
   
}
#fLogo div img{
    width:50%;
    margin-bottom: 50px;
}
#fLogo{
    margin-left: 50px;
    width:30%
}
#contact p{
    /* background-color: gray; */
    color: gray;
    font-size: 20px;
    margin-top: 40px;

}
#sMedia{
    width: 30%;
    
}
#sMedia div{
    display: flex;
    margin-top: 20px;
}
#sMedia div img{
width: 40%;
margin: auto;
}

/*////////////////////////////////// FOOTER ////////////////////////////// */

#spin{
    width:90%;
    display: flex;
    margin: auto;
    gap: 20px;
    margin-bottom: 25px;
}
#spin img{
    width: 100%;
}
h5{
    margin-top: 10px;
    margin-bottom: 5px;
}